DB_URI= #connection URL
MONGODB_USER=your_user
MONGODB_PASSWORD=your_password
MONGODB_URL=your_cluster.mongodb.net
MONGODB_DB=your_database

SMTP_HOST=...brevo.com
SMTP_PORT=7..
SMTP_USER=
SMTP_PASSWORD=xs...ca3fa2236a-sZJzOW4TtG038yKf

SMTP_FROM=nko...@gmail.com
JWT_SECRET=VOQj...

CLOUDINARY_CLOUD_NAME=dokj
CLOUDINARY_API_KEY=862559
CLOUDINARY_API_SECRET=VUPoo6ro5NHYfxZer2